canvas{
    height: 90vh !important;
    width: auto !important;
}

.rpv-core__canvas-layer{
    display: flex;
    justify-content: center;
    height:auto !important;
}

.rpv-core__inner-page{
    display: flex;
    justify-content: center;
}

.rpv-core__text-layer, .rpv-core__annotation-layer {
    display: none !important;
  }

.rpv-core__inner-pages>div{
    height: 90vh !important;
}

.rpv-core__page-layer, .rpv-core__inner-page{
    height:auto !important;
}

.resume-section {
    margin-top: 10vh;
}

.resume{
    padding:0;
}