/* Footer.css */

.footer {
    background-color: #00000043;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}

.footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.footer a:hover {
    text-decoration: underline;
}

.footer p {
    margin: 0;
    font-size: 14px;
}

.social-links>li>a:hover {
    color: rgb(163, 163, 163) !important;
    cursor: pointer;
}

.link {
    padding: 10vh !important;
}

.social-icons{
    display: flex;
    align-items: center;
}