header{
    background-color: rgb(33 7 56) !important;
    height: 10vh;
    width: 100vw;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.nav-link {
    text-decoration: none;
    margin: 0 1rem;
    font-weight: bold;
    position: relative;
}

nav a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 4px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #95089f;
    border-radius: 5px;
    transition: width 0.3s ease, left 0.3s ease;
}

nav a:hover::after {
    width: 100%;
    left: 0;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-toggler {
    border: none;
}

.navbar-collapse {
    justify-content: flex-end;
}

.blurred{
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;
}