.home-container>h1{
  padding-left:10vw;
}

.type-effect {
  margin: 5%;
  height: 35px;
}

.name {
  padding-top: 10px;
}

.profile-pic img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.right {
  display: flex;
  justify-content: flex-end;
}

.row {
  padding: 18vh 0;
  justify-content: center;
  width: 100vw!important;
}

.dev-pic img {
  width: 400px;
  height: 400px;
}
