.home-container>h1{
  padding-left:10vw;
}

.type-effect {
  margin: 5%;
  height: 35px;
}

.name {
  padding-top: 10px;
}

.profile-pic img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}

.right {
  display: flex;
  justify-content: flex-end;
}

.row {
  padding: 18vh 0;
  justify-content: center;
  width: 100vw!important;
}

.dev-pic img {
  width: 400px;
  height: 400px;
}

@media (max-width: 768px) {
  .home-container>h1 {
    padding-left: 5vw;
  }

  .profile-pic img {
    width: 18vw;
    height: 18vw;;
  }

  .dev-pic img {
    display: none;
  }

  .type-effect {
    margin: 2%;
    height: 30px;
  }

  .navbar-brand{
    display: none;
  }

  .navbar-toggler{
    display: none;
  }

  .navbar-nav{
    font-size: xx-small;
    display: flex !important;
    flex-direction: row !important;
  }

  .about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-me-text {
    width: 90vw !important;
  }
}
